$bpc_height:550px;
#bpc {
    width: 100%;
    height: $bpc_height;
    position: relative;
    cursor: pointer;
    .bpc_content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .bpc_ul {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            // 背景大图片
            li {
                background: no-repeat;
                width: 100%;
                height: 550px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
            }
            .li1 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/megBedAIUEvTXt6mPzUw.jpg") 50% 0px;
                // display: block;
            }
            .li2 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px
            }
            .li3 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px
            }
            .li4 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px
            }
            .li5 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/megBedAIUEvTXt6mPzUw.jpg") 50% 0px
            }
            .li6 {
                background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px
            }
        }
        // 二级菜单
        .bpc_nav {
            width: 200px;
            height: 440px;
            // background-color: gray;
            position: absolute;
            left: 85px;
            top: 18px;
            .nav_ol {
                position: relative;
                height: 440px;
                box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
                background: rgba(255, 255, 255, 0.95);
                border-radius: 10px;
                li {
                    padding: 12px 0 13px 0;
                    margin: 0;
                    margin-left: 25px;
                    width: 150px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
                    height: 47px;
                    position: relative;
                    p {
                        a {
                            font-size: 16px;
                            color: #848484;
                            margin-right: 10px;
                            line-height: 30px;
                        }
                    }
                    a {
                        color: #a6a6a6;
                        font-size: 14px;
                    }
                }
            }
        }
        // 按钮
        .bpc_button {
            .active {
                background: orange;
            }
            .button_left {
                left: 310px;
                top: 200px;
                background-position: 0 -72px;
                margin-top: 0;
                width: 80px;
                height: 80px;
                position: absolute;
                display: block!important;
                background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon01.svg) -240px -70px no-repeat;
                z-index: 3;
            }
            .button_right {
                left: 1400px;
                top: 200px;
                background-position: -80px -72px;
                margin-top: 0;
                width: 80px;
                height: 80px;
                position: absolute;
                display: block!important;
                background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon01.svg) -170px -70px no-repeat;
                z-index: 3;
            }
        }
    }
}

// 2级列表
.bpc_content .bpc_nav .nav_ol li .two_list {
    width: 612px;
    position: absolute;
    left: 175px;
    height: 416px;
    max-width: 1020px;
    background: #FFF;
    // background: skyblue;
    padding: 24px 22px 0 28px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
    .list_content {
        .list_content_ul {
            width: 204px;
            margin: 0;
            float: left;
            li {
                margin-top: 10px;
                float: left;
                margin-bottom: 24px;
                border-bottom: 0 solid rgba(0, 0, 0, 0.06);
                a {
                    display: block;
                    width: 204px;
                    height: 80px;
                    font-size: 14px;
                    border-radius: 10px;
                    margin-right: 0;
                    img {
                        width: 56px;
                        height: 56px;
                        float: left;
                        margin: 12px 8px 0 6px;
                    }
                    span {
                        float: left;
                        color: #777;
                        font-size: 13px;
                        margin-top: 30px;
                        width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}