$header_width:1200px;
$header_height:36px;
.kgt {
    width: 100%;
    // margin: 0 auto;
    // top: 0;
    // left: 0;
    // position: relative;
    img {
        width: 1200px;
        // margin-left: 200px;
        margin: 0 auto;
    }
}

#header {
    width: 100%;
    height: $header_height;
    line-height: 36px;
    background-color: $page_color;
}

#header .header_content {
    width: $page_width;
    height: 100%;
    margin: 0 auto;
}

// 左边
#header .header_content .content_left {
    width: 617px;
    height: 100%;
    float: left;
    // background: skyblue;
}

#header .header_content .content_left .content_left_ul li {
    float: left;
    padding: 0 8px;
    position: relative;
    margin-left: 6px;
}

#header .header_content .content_left .content_left_ul li:first-child {
    padding-left: 0;
}

#header .header_content .content_left .content_left_ul li::before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #d3d3d3;
}

#header .header_content .content_left .content_left_ul .xiala::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-position: -71px 0;
    position: absolute;
    top: 10px;
    right: -5px;
    background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon-common.svg) no-repeat;
}

#header .header_content .content_left .content_left_ul li a {
    cursor: pointer;
    font-size: $fontsize;
    text-decoration: none;
    color: #a4a4a4;
}

// 右边
#header .header_content .content_right {
    width: 512px;
    height: 100%;
    float: right;
    // background: blue;
}

#header .header_content .content_right .content_right_ul li {
    float: left;
    padding: 0 8px;
    position: relative;
    margin-left: 7px;
}

#header .header_content .content_right .content_right_ul li a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    color: #a4a4a4;
    font-size: $fontsize;
}

#header .header_content .content_right .content_right_ul .gang::before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 2px;
    left: -10px;
    background: #d3d3d3;
}