$page_width:1200px;
$fontsize:12px;
$page_color:#f9f9f9;
* {
    list-style: none;
    text-decoration: none;
}

a {
    cursor: pointer;
}

body {
    background: #f5f5f5;
}

@import "compass/reset";
// 头部
@import "header";
// 搜索框
@import "ssk";
// 内容
@import "cartlistContent";