$page_width:1200px;
$fontsize:12px;
$page_color:#f9f9f9;
* {
    list-style: none;
    text-decoration: none;
}

@import "compass/reset";
// 头部
@import "header";
// 搜索框
@import "ssk";
// 大照片
@import "bpc";
// 菜单栏
@import "menu";
// 首页轮播图
@import "lbPic";
// 菜单栏2
@import "menu_two";
// 小图片
@import "spic";