* {
    list-style: none;
    text-decoration: none;
}

a {
    cursor: pointer;
}

@import "compass/reset";
// 头部
@import "registryHeader";
// 搜索框
// @import "ssk";
// // 大照片
// @import "bpc";
// // 菜单栏
// @import "menu";
// // 首页轮播图
// @import "lbPic";
// // 菜单栏2
// @import "menu_two";
// // 小图片
// @import "spic";
// // 小图片
// @import "_footer";