/* line 4, ../sass/index.scss */
* {
  list-style: none;
  text-decoration: none;
}

/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_header.scss */
.kgt {
  width: 100%;
}
/* line 9, ../sass/_header.scss */
.kgt img {
  width: 1200px;
  margin: 0 auto;
}

/* line 16, ../sass/_header.scss */
#header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: #f9f9f9;
}

/* line 23, ../sass/_header.scss */
#header .header_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 30, ../sass/_header.scss */
#header .header_content .content_left {
  width: 617px;
  height: 100%;
  float: left;
}

/* line 37, ../sass/_header.scss */
#header .header_content .content_left .content_left_ul li {
  float: left;
  padding: 0 8px;
  position: relative;
  margin-left: 6px;
}

/* line 44, ../sass/_header.scss */
#header .header_content .content_left .content_left_ul li:first-child {
  padding-left: 0;
}

/* line 48, ../sass/_header.scss */
#header .header_content .content_left .content_left_ul li::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  background: #d3d3d3;
}

/* line 59, ../sass/_header.scss */
#header .header_content .content_left .content_left_ul .xiala::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-position: -71px 0;
  position: absolute;
  top: 10px;
  right: -5px;
  background: url(https://res8.vmallres.com/20191126/css/../images/echannel/icon/icon-common.svg) no-repeat;
}

/* line 71, ../sass/_header.scss */
#header .header_content .content_left .content_left_ul li a {
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  color: #a4a4a4;
}

/* line 79, ../sass/_header.scss */
#header .header_content .content_right {
  width: 512px;
  height: 100%;
  float: right;
}

/* line 86, ../sass/_header.scss */
#header .header_content .content_right .content_right_ul li {
  float: left;
  padding: 0 8px;
  position: relative;
  margin-left: 7px;
}

/* line 93, ../sass/_header.scss */
#header .header_content .content_right .content_right_ul li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  color: #a4a4a4;
  font-size: 12px;
}

/* line 102, ../sass/_header.scss */
#header .header_content .content_right .content_right_ul .gang::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 2px;
  left: -10px;
  background: #d3d3d3;
}

/* line 1, ../sass/_ssk.scss */
#ssk {
  width: 100%;
  height: 41px;
  padding: 18px 0 15px 0;
  position: relative;
  overflow: hidden;
}
/* line 9, ../sass/_ssk.scss */
#ssk .ssk_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 14, ../sass/_ssk.scss */
#ssk .ssk_content .content_left {
  width: 654.56px;
  height: 42px;
  float: left;
}
/* line 19, ../sass/_ssk.scss */
#ssk .ssk_content .content_left a {
  text-decoration: none;
  float: left;
}
/* line 22, ../sass/_ssk.scss */
#ssk .ssk_content .content_left a img {
  height: 36px;
}
/* line 27, ../sass/_ssk.scss */
#ssk .ssk_content .content_right {
  line-height: 1;
  width: 318px;
  height: 28px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  position: relative;
  float: right;
}

/* line 41, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul {
  margin-left: 10px;
}
/* line 43, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul li {
  margin-top: 7px;
  float: left;
  margin-right: 24px;
}
/* line 47, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul li a {
  font-size: 16px;
  color: #333;
  position: relative;
  line-height: 40px;
  display: block;
}
/* line 53, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul li a img {
  display: block;
  height: 24px;
}
/* line 59, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul .img {
  margin-top: 7px;
}
/* line 62, ../sass/_ssk.scss */
#ssk .ssk_content .content_left .left_ul .li_size a {
  font-size: 16px;
  color: #333;
  line-height: 25px;
}

/* line 70, ../sass/_ssk.scss */
#ssk .ssk_content .content_right .right_input {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: #f0f0f0;
}

/* line 3, ../sass/_bpc.scss */
#bpc {
  width: 100%;
  height: 550px;
  position: relative;
  cursor: pointer;
}

/* line 12, ../sass/_bpc.scss */
#bpc .bpc_ul {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 21, ../sass/_bpc.scss */
#bpc .bpc_ul .li1 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/megBedAIUEvTXt6mPzUw.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}
/* line 28, ../sass/_bpc.scss */
#bpc .bpc_ul .li2 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}
/* line 35, ../sass/_bpc.scss */
#bpc .bpc_ul .li3 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}
/* line 42, ../sass/_bpc.scss */
#bpc .bpc_ul .li4 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}
/* line 49, ../sass/_bpc.scss */
#bpc .bpc_ul .li5 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/megBedAIUEvTXt6mPzUw.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}
/* line 56, ../sass/_bpc.scss */
#bpc .bpc_ul .li6 {
  background: url("https://res.vmallres.com/pimages//pages/picImages/0cKi4yefIQQqBcHBZDU2.jpg") 50% 0px no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  opacity: 1;
}

/* line 66, ../sass/_bpc.scss */
#bpc .bpc_nav {
  width: 200px;
  height: 400px;
  background-color: gray;
  position: absolute;
  left: 160px;
  top: 10px;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

/* line 79, ../sass/_bpc.scss */
#bpc .bpc_button .button_left {
  left: 204px;
  top: 199px;
  background-position: 0 -72px;
  margin-top: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  display: block !important;
}
/* line 90, ../sass/_bpc.scss */
#bpc .bpc_button .button_right {
  left: 1132px;
  top: 119px;
  background-position: -80px -72px;
  margin-top: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  display: block !important;
}

/* line 1, ../sass/_menu.scss */
#menu {
  width: 1200px;
  margin: 0 auto;
}
/* line 4, ../sass/_menu.scss */
#menu .menu_top {
  height: 200px;
  margin-top: 15px;
}
/* line 8, ../sass/_menu.scss */
#menu .top_ul {
  width: 1200px;
}
/* line 10, ../sass/_menu.scss */
#menu .top_ul li:first-child {
  margin: 0 1px 0 0;
}
/* line 13, ../sass/_menu.scss */
#menu .top_ul li {
  float: left;
  margin-left: 13px;
  width: 290px;
  height: 200px;
  border-radius: 20px;
  transition: all .2s linear 0s;
}
/* line 20, ../sass/_menu.scss */
#menu .top_ul li a {
  display: block;
  height: 200px;
  cursor: pointer;
  color: #3a3a3a;
}
/* line 25, ../sass/_menu.scss */
#menu .top_ul li a img {
  width: 290px;
  height: 200px;
  border-radius: 10px;
}
/* line 33, ../sass/_menu.scss */
#menu .menu_middle {
  width: 1200px;
  height: 660px;
}
/* line 37, ../sass/_menu.scss */
#menu .menu_middle .middle_h h2 {
  font-size: 26px;
  color: #333;
  padding: 27px 0 13px 0;
}
/* line 43, ../sass/_menu.scss */
#menu .menu_middle .middle_left {
  width: 220px;
  height: 592px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-top: 0;
  float: left;
}
/* line 50, ../sass/_menu.scss */
#menu .menu_middle .middle_left img {
  width: 230px;
  height: 592px;
  border-radius: 10px;
}
/* line 56, ../sass/_menu.scss */
#menu .menu_middle .middle_right {
  width: 968px;
  float: right;
}
/* line 60, ../sass/_menu.scss */
#menu .menu_middle .middle_right .right_ul li {
  width: 230px;
  height: 290px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0;
  float: left;
}

/* line 76, ../sass/_menu.scss */
.menu_middle .middle_right .right_ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 81, ../sass/_menu.scss */
.menu_middle .middle_right .right_ul li a .grid-img img {
  width: 150px;
  height: 150px;
  margin-top: 35px;
}
/* line 86, ../sass/_menu.scss */
.menu_middle .middle_right .right_ul li a .grid-title {
  width: 210px;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #3a3a3a;
}
/* line 101, ../sass/_menu.scss */
.menu_middle .middle_right .right_ul li a .grid-desc {
  color: #777;
  line-height: 18px;
  padding: 0 10px;
  margin: 8px 20px 7px;
}
/* line 107, ../sass/_menu.scss */
.menu_middle .middle_right .right_ul li a .grid-price {
  color: #d0021b;
  line-height: 21px;
  margin-bottom: 0;
}

/* line 116, ../sass/_menu.scss */
#menu .menu_footer {
  width: 1200px;
  height: 364px;
}
/* line 121, ../sass/_menu.scss */
#menu .menu_footer .footer_h h2 {
  font-size: 26px;
  color: #333;
  padding: 27px 0 13px 0;
  float: left;
}
/* line 128, ../sass/_menu.scss */
#menu .menu_footer .footer_content {
  width: 100%;
  float: left;
}
/* line 131, ../sass/_menu.scss */
#menu .menu_footer .footer_content .footer_content_ul {
  width: 1200px;
  height: 295px;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0.3s;
  min-width: 1200px;
  overflow: hidden;
}
/* line 138, ../sass/_menu.scss */
#menu .menu_footer .footer_content .footer_content_ul li {
  width: 240px;
  height: 295px;
  border: 0;
  background: 0;
  margin: 0;
  margin-bottom: 10px;
  float: left;
}
/* line 146, ../sass/_menu.scss */
#menu .menu_footer .footer_content .footer_content_ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: #3a3a3a;
}

/* line 160, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid {
  width: 230px;
  height: 205px;
  margin: 0 auto;
  background: #fff;
  padding-top: 36px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
}
/* line 168, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid .footer_img {
  margin: 0 auto;
  margin-bottom: 19px;
  width: 150px;
  height: 150px;
}
/* line 173, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid .footer_img img {
  width: 150px;
  height: 150px;
  text-align: center;
}
/* line 179, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid .footer_gk {
  font-size: 14px;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  width: 210px;
  background: #f3f3f3;
  color: #777;
  margin: 0;
}
/* line 189, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid .footer_title {
  width: 230px;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 9px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 200, ../sass/_menu.scss */
.footer_content_ul li a .footer_grid .footer_price {
  line-height: 18px;
  color: #d0021b;
  line-height: 21px;
  margin-bottom: 0;
}

/* line 3, ../sass/_lbPic.scss */
#lbPic {
  width: 1200px;
  height: 140px;
  margin: 25px auto 0;
  padding: 10px 0;
}
/* line 9, ../sass/_lbPic.scss */
#lbPic .lbPic_ul {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-top: 20px;
}
/* line 14, ../sass/_lbPic.scss */
#lbPic .lbPic_ul li {
  width: 1200px;
  height: 120px;
}
/* line 20, ../sass/_lbPic.scss */
#lbPic .lbPic_ul li a {
  text-decoration: none;
  color: #3a3a3a;
}
/* line 23, ../sass/_lbPic.scss */
#lbPic .lbPic_ul li a img {
  text-decoration: none;
  color: #3a3a3a;
  border-radius: 8px;
}

/* line 2, ../sass/_menu_two.scss */
#menu_two {
  width: 100%;
  height: 8206px;
  background-color: blue;
}
/* line 6, ../sass/_menu_two.scss */
#menu_two .menu_two_top {
  width: 100%;
  height: 1581px;
  background-color: red;
}
/* line 10, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: skyblue;
}
/* line 15, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul {
  margin: 0 0 0 -10px;
}
/* line 17, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li {
  height: 290px;
  width: 230px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0;
  float: left;
}
/* line 26, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 31, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li a .grid-img img {
  width: 150px;
  height: 150px;
  margin-top: 35px;
}
/* line 36, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li a .grid-title {
  width: 210px;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #3a3a3a;
}
/* line 51, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li a .grid-desc {
  color: #777;
  line-height: 18px;
  padding: 0 10px;
  margin: 8px 20px 7px;
}
/* line 57, ../sass/_menu_two.scss */
#menu_two .menu_two_top .menu_two_content .menu_two_content_ul li a .grid-price {
  color: #d0021b;
  line-height: 21px;
  margin-bottom: 0;
}
/* line 68, ../sass/_menu_two.scss */
#menu_two .menu_two_center {
  width: 100%;
  height: 997px;
  background-color: orange;
}
/* line 73, ../sass/_menu_two.scss */
#menu_two .menu_two_bottom {
  width: 100%;
  height: 675px;
  background-color: yellow;
}

/* line 81, ../sass/_menu_two.scss */
#menu_two .menu_two_h ul li a .menu_two_img {
  width: 150px;
  height: 150px;
}
/* line 84, ../sass/_menu_two.scss */
#menu_two .menu_two_h ul li a .menu_two_img img {
  width: 150px;
  height: 150px;
}
/* line 89, ../sass/_menu_two.scss */
#menu_two .menu_two_h ul li a .menu_two_title {
  width: 210px;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 101, ../sass/_menu_two.scss */
#menu_two .menu_two_h ul li a .menu_two_span {
  color: #777;
  line-height: 18px;
  padding: 0 10px;
  margin: 2px 20px 7px;
}
/* line 107, ../sass/_menu_two.scss */
#menu_two .menu_two_h ul li a .menu_two_price {
  color: #d0021b;
  line-height: 21px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #cc0e11;
}

/* line 2, ../sass/_spic.scss */
#spic {
  width: 100%;
  height: 260px;
  background-color: purple;
}
