/* line 1, ../sass/login.scss */

* {
    list-style: none;
    text-decoration: none;
}


/* line 6, ../sass/login.scss */

a {
    cursor: pointer;
}


/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html {
    line-height: 1;
}


/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
    list-style: none;
}


/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}


/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
    quotes: none;
}


/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}


/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

a img {
    border: none;
}


/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/* line 1, ../sass/_loginContent.scss */

body {
    background-color: #f7f7f7;
}


/* line 5, ../sass/_loginContent.scss */

#header {
    height: 67px;
    background-color: #f7f7f7;
}


/* line 8, ../sass/_loginContent.scss */

#header .contanier {
    height: 67px;
    width: 960px;
    margin: 0 auto;
}


/* line 12, ../sass/_loginContent.scss */

#header .contanier .logo {
    margin-left: 4px;
    margin-top: 15px;
}


/* line 16, ../sass/_loginContent.scss */

#header .contanier img {
    display: block;
}


/* line 19, ../sass/_loginContent.scss */

#header .contanier .name {
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-family: "arial";
    padding-top: 12px;
    margin-left: 25px;
}


/* line 26, ../sass/_loginContent.scss */

#header .contanier .name span {
    color: #333;
    font-size: 18px;
    margin-top: -3px;
    float: left;
    margin-left: 20px;
}


/* line 37, ../sass/_loginContent.scss */

main {
    height: 590px;
    background-color: #081638;
}


/* line 40, ../sass/_loginContent.scss */

main .sContainer {
    height: 100%;
    background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/ads/login_default_bg.png);
    position: relative;
}


/* line 47, ../sass/_loginContent.scss */

#login {
    width: 420px;
    height: 540px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 30px;
}


/* line 55, ../sass/_loginContent.scss */

#login .login_contanier {
    position: relative;
    width: 420px;
    height: 497px;
    padding-top: 10px;
}


/* line 61, ../sass/_loginContent.scss */

#login .login_div {
    width: 380px;
    height: 530px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


/* line 68, ../sass/_loginContent.scss */

#login .div_h {
    width: 380px;
    height: 30px;
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
}


/* line 74, ../sass/_loginContent.scss */

#login .div_h span {
    text-align: center;
    width: 165px;
    padding: 0 40px;
    vertical-align: middle;
}


/* line 80, ../sass/_loginContent.scss */

#login .div_h .title_left {
    color: #b40707;
}


/* line 83, ../sass/_loginContent.scss */

#login .div_h .title_right {
    border-left: 1px solid #ccc;
}


/* line 87, ../sass/_loginContent.scss */

#login form {
    width: 328px;
    height: 261px;
    margin: 0 auto;
    margin-top: 45px;
    position: relative;
}


/* line 93, ../sass/_loginContent.scss */

#login form .first {
    width: 100%;
    height: 16px;
    position: absolute;
    top: -25px;
    color: #ff3320;
    display: none;
}


/* line 100, ../sass/_loginContent.scss */

#login form .first i {
    margin-right: 6px;
    width: 13px;
    height: 13px;
    background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/vmall_rss/loginEMUIV6/img/btn_errorInfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}


/* line 112, ../sass/_loginContent.scss */

#login form input {
    display: block;
    width: 328px;
    height: 46px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 5px;
}


/* line 120, ../sass/_loginContent.scss */

#login form input::placeholder {
    font-size: 16px;
    color: #cccccc;
}


/* line 125, ../sass/_loginContent.scss */

#login form .phone {
    color: #0064cc;
    height: 46px;
    line-height: 46px;
}


/* line 130, ../sass/_loginContent.scss */

#login form .phoneicon {
    width: 11px;
    height: 15px;
    background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/vmall_rss/loginEMUIV6/img/ic_smsLogin.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -2px 0;
    margin-bottom: -3px;
}


/* line 139, ../sass/_loginContent.scss */

#login form .button {
    display: block;
    width: 326px;
    border: 0;
    border-radius: 0;
    line-height: 44px;
    height: 44px;
    font-weight: bold;
    font-size: 14px;
    background-image: none;
    cursor: pointer;
    border-radius: 26px;
    text-align: center;
    margin-top: 0;
    color: #fff;
    background-color: #c70000;
}


/* line 156, ../sass/_loginContent.scss */

#login form .checkbox {
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
}


/* line 160, ../sass/_loginContent.scss */

#login form .checkbox span {
    display: inline-block;
    margin-top: -5px;
    vertical-align: middle;
}


/* line 166, ../sass/_loginContent.scss */

#login form .checkbox1 {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 0;
    margin: -6px 0 0 0;
    vertical-align: middle;
}


/* line 177, ../sass/_loginContent.scss */

.div_mt_links {
    width: 328px;
    height: 15px;
    text-align: center;
}


/* line 181, ../sass/_loginContent.scss */

.div_mt_links span {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    text-align: right;
}


/* line 185, ../sass/_loginContent.scss */

.div_mt_links span a {
    color: #007dff;
}


/* line 191, ../sass/_loginContent.scss */

.thirdLoginBlock {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 10px;
    width: 328px;
    height: 82px;
}


/* line 198, ../sass/_loginContent.scss */

.thirdLoginBlock .third_title {
    width: 328px;
    position: relative;
    text-align: center;
}


/* line 202, ../sass/_loginContent.scss */

.thirdLoginBlock .third_title i {
    background-repeat: no-repeat;
    height: 1px;
    position: absolute;
    width: 94px;
    background-size: cover;
    top: 50%;
}


/* line 210, ../sass/_loginContent.scss */

.thirdLoginBlock .third_title .title_left {
    left: 0;
    background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/vmall_rss/loginEMUIV6/img/thirdLine.png);
}


/* line 214, ../sass/_loginContent.scss */

.thirdLoginBlock .third_title .title_right {
    right: 0;
    background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/vmall_rss/loginEMUIV6/img/thirdLine-reverse.png);
}


/* line 219, ../sass/_loginContent.scss */

.thirdLoginBlock .third_loginDiv {
    text-align: center;
    margin-top: 10px;
}


/* line 222, ../sass/_loginContent.scss */

.thirdLoginBlock .third_loginDiv span {
    display: inline-block;
    padding: 0 10px;
}


/* line 226, ../sass/_loginContent.scss */

.thirdLoginBlock .third_loginDiv a {
    background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/vmall_rss/loginEMUIV6/img/third_login.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    padding: 0;
    display: inline-block;
    margin: 0;
    float: none;
    background-position: -72px -9px;
}


/* line 237, ../sass/_loginContent.scss */

.thirdLoginBlock .third_loginDiv .zhifubao a {
    background-position: -132px -9px;
}


/* line 240, ../sass/_loginContent.scss */

.thirdLoginBlock .third_loginDiv .weicat a {
    background-position: -12px -9px;
}


/* line 246, ../sass/_loginContent.scss */

#footer {
    background-color: #f7f7f7;
    margin-top: 50px;
}


/* line 249, ../sass/_loginContent.scss */

#footer p {
    color: #999;
    font-size: 14px;
}


/* line 253, ../sass/_loginContent.scss */

#footer a {
    color: #999;
    padding: 0 10px;
}