/* line 1, ../sass/registry.scss */
* {
  list-style: none;
  text-decoration: none;
}

/* line 6, ../sass/registry.scss */
a {
  cursor: pointer;
}

/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_registryHeader.scss */
body {
  background-color: #f7f7f7;
}

/* line 5, ../sass/_registryHeader.scss */
#header {
  height: 67px;
  background-color: #333;
}
/* line 8, ../sass/_registryHeader.scss */
#header .contanier {
  height: 67px;
  width: 960px;
  margin: 0 auto;
}
/* line 12, ../sass/_registryHeader.scss */
#header .contanier .logo {
  margin-left: 4px;
  margin-top: 15px;
}
/* line 16, ../sass/_registryHeader.scss */
#header .contanier img {
  display: block;
}
/* line 19, ../sass/_registryHeader.scss */
#header .contanier .name {
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-family: "arial";
  padding-top: 12px;
  margin-left: 25px;
}
/* line 26, ../sass/_registryHeader.scss */
#header .contanier .name span {
  color: white;
  font-size: 18px;
  margin-top: -3px;
  float: left;
  margin-left: 20px;
}

/* line 37, ../sass/_registryHeader.scss */
.r_content {
  padding-top: 30px;
  position: relative;
  width: 960px;
  height: 750px;
  margin: 0 auto;
}
/* line 43, ../sass/_registryHeader.scss */
.r_content .reg_tab {
  width: 100%;
  height: 35px;
}
/* line 46, ../sass/_registryHeader.scss */
.r_content .reg_tab a {
  width: 146px;
  height: 35px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  background: #b40707;
}
/* line 54, ../sass/_registryHeader.scss */
.r_content .reg_tab .tab_right {
  background: #ccc;
}
/* line 57, ../sass/_registryHeader.scss */
.r_content .reg_tab span {
  width: 66px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 30px;
  text-align: center;
}
/* line 69, ../sass/_registryHeader.scss */
.r_content .reg_tab i {
  display: inline-block;
  position: absolute;
  background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/portal/register_rss_EMUIV6/images/reg-img01.png) no-repeat;
  width: 14px;
  height: 22px;
}
/* line 77, ../sass/_registryHeader.scss */
.r_content .phone-icon {
  top: 6px;
  left: 26px;
  background-position: 0 -18px;
}
/* line 82, ../sass/_registryHeader.scss */
.r_content .mail-icon {
  top: 9px;
  left: 16px;
  width: 22px;
  height: 17px;
  background-position: 0 0;
}

/* line 91, ../sass/_registryHeader.scss */
.r_content .r {
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 37px;
}
/* line 96, ../sass/_registryHeader.scss */
.r_content .r a {
  color: #007dff;
}

/* line 101, ../sass/_registryHeader.scss */
.reg_detail {
  width: 420px;
  height: 610px;
  padding: 30px 270px;
  background: white;
}
/* line 107, ../sass/_registryHeader.scss */
.reg_detail .reg_title p {
  text-align: center;
  font-size: 24px;
  color: #333;
}
/* line 112, ../sass/_registryHeader.scss */
.reg_detail .reg_title p:nth-of-type(2) {
  font-size: 16px;
  color: #999;
}

/* line 121, ../sass/_registryHeader.scss */
.r_content form p {
  width: 420px;
  height: 44px;
  margin-bottom: 30px;
  border-radius: 22px;
  background: #f3f3f3;
}
/* line 127, ../sass/_registryHeader.scss */
.r_content form p .matips {
  position: absolute;
  left: 75px;
  bottom: 15px;
  display: none;
}
/* line 133, ../sass/_registryHeader.scss */
.r_content form p .matips_1 {
  text-align: left;
  display: block;
  position: relative;
  top: 35px;
  padding: 20px 20px 0 40px;
  width: 205px;
  height: 80px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eee;
  margin-bottom: -16px;
  background: white;
  z-index: 10;
}
/* line 146, ../sass/_registryHeader.scss */
.r_content form p .matips_1 a {
  display: block;
}
/* line 150, ../sass/_registryHeader.scss */
.r_content form p .matips_2 {
  display: block;
  width: 267px;
  height: 120px;
  background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/common/images/auth_tips.png) no-repeat -10px 0;
}
/* line 156, ../sass/_registryHeader.scss */
.r_content form p .matips_3 {
  position: absolute;
  z-index: 12;
  top: 117px;
  width: 205px;
  height: 23px;
  left: 40px;
  border-bottom: 4px solid #37cc0e;
}
/* line 165, ../sass/_registryHeader.scss */
.r_content form p:nth-of-type(1) {
  margin-top: 30px;
}
/* line 168, ../sass/_registryHeader.scss */
.r_content form p select {
  border: 0;
  height: 42px;
  font-size: 20px;
}
/* line 173, ../sass/_registryHeader.scss */
.r_content form p .tips {
  display: inline-block;
  padding: 7px 16px;
  font-size: 12px;
  color: #ff3320;
}
/* line 180, ../sass/_registryHeader.scss */
.r_content form p:last-child {
  background: white;
}
/* line 182, ../sass/_registryHeader.scss */
.r_content form p:last-child .input5 {
  display: block;
  width: 200px;
  height: 40px;
  margin: 30px auto;
  border-radius: 20px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  background-color: #b40707;
  border: 0;
  color: #fff;
}
/* line 197, ../sass/_registryHeader.scss */
.r_content label {
  display: inline-block;
  text-align: center;
  border-radius: 21px 0 0 21px;
  font-size: 14px;
  border: 1px solid #ccc;
  line-height: 42px;
  width: 90px;
  height: 42px;
  padding: 0 16px;
  vertical-align: middle;
}
/* line 209, ../sass/_registryHeader.scss */
.r_content input {
  display: inline-block;
  border: 0;
  border: 1px solid #ccc;
  background: #f3f3f3;
  border-left: 0;
  border-radius: 0 21px 21px 0;
  width: 295px;
  text-indent: 10px;
  height: 42px;
  vertical-align: middle;
}
/* line 220, ../sass/_registryHeader.scss */
.r_content input::placeholder {
  color: #cccccc;
}
/* line 224, ../sass/_registryHeader.scss */
.r_content .last {
  display: inline-block;
  border: 0;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 21px 21px 0;
  width: 295px;
  height: 42px;
  line-height: 42px;
  cursor: auto;
  position: relative;
  left: 123px;
  top: -44px;
}
/* line 237, ../sass/_registryHeader.scss */
.r_content .last > span {
  margin-right: 20px;
  display: inline-block;
  line-height: 42px;
  position: relative;
}
/* line 242, ../sass/_registryHeader.scss */
.r_content .last > span em {
  font-style: normal;
  font-weight: 400;
}
/* line 246, ../sass/_registryHeader.scss */
.r_content .last > span .span1 {
  position: absolute;
  top: 42px;
  left: 0;
  width: 156px;
  height: 200px;
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  z-index: 100;
  display: none;
  box-shadow: 1px 2px 17px 8px rgba(0, 0, 0, 0.03);
}
/* line 258, ../sass/_registryHeader.scss */
.r_content .last > span .span1 > span {
  display: block;
  width: 120px;
  height: 15px;
  padding: 8px 16px;
  line-height: 15px;
  border-radius: 5px 0 0 0;
}
/* line 266, ../sass/_registryHeader.scss */
.r_content .last > span .span1 > span:hover {
  background-color: rgba(0, 125, 255, 0.2);
}
/* line 271, ../sass/_registryHeader.scss */
.r_content .last > span:nth-of-type(1) {
  margin-left: 15px;
}
/* line 274, ../sass/_registryHeader.scss */
.r_content .last > span .bg {
  width: 12px;
  height: 6px;
  background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_44/css/common/images/triangle_green.png);
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

/* line 299, ../sass/_registryHeader.scss */
#footer {
  background-color: #f7f7f7;
  margin-top: 50px;
}
/* line 302, ../sass/_registryHeader.scss */
#footer p {
  color: #999;
  font-size: 14px;
}
/* line 306, ../sass/_registryHeader.scss */
#footer a {
  color: #999;
  padding: 0 10px;
}

/* line 312, ../sass/_registryHeader.scss */
.div_border {
  width: 960px;
  height: 41px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
