/* line 1, ../sass/registry.scss */
* {
  list-style: none;
  text-decoration: none;
}

/* line 6, ../sass/registry.scss */
body {
  background: #f2f2f2;
}

/* line 10, ../sass/registry.scss */
a {
  cursor: pointer;
}

/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_registryHeader.scss */
.head-background {
  width: 100%;
  height: 81px;
  background-color: black;
}
/* line 5, ../sass/_registryHeader.scss */
.head-background .head_center {
  width: 960px;
  height: 81px;
  margin: 0 auto;
  border: 0;
  position: relative;
  text-align: center;
}
/* line 12, ../sass/_registryHeader.scss */
.head-background .head_center .main-logo {
  position: static;
  left: 2px;
  float: left;
  margin-right: 20px;
}
/* line 17, ../sass/_registryHeader.scss */
.head-background .head_center .main-logo img {
  margin-left: 4px;
  margin-top: 17px;
}
/* line 22, ../sass/_registryHeader.scss */
.head-background .head_center .website-name {
  color: white;
  font-size: 20px;
  height: 67px;
  line-height: 50px;
  font-family: "arial";
  padding-top: 14px;
}
/* line 29, ../sass/_registryHeader.scss */
.head-background .head_center .website-name element.style {
  font-size: 18px;
  margin-top: -5px;
  float: left;
  color: #cccccc;
  font-weight: normal;
}
/* line 37, ../sass/_registryHeader.scss */
.head-background .head_center .banner_box {
  position: relative;
  background: #fffbe4;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #989898;
}
/* line 45, ../sass/_registryHeader.scss */
.head-background .head_center .banner_box span {
  position: relative;
  background: #fffbe4;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #989898;
}
/* line 53, ../sass/_registryHeader.scss */
.head-background .head_center .banner_box span a {
  color: #007dff;
  padding: 0;
}

/* line 63, ../sass/_registryHeader.scss */
#bannerBox {
  position: relative;
  background: #fffbe4;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #989898;
}
/* line 71, ../sass/_registryHeader.scss */
#bannerBox span {
  text-align: center;
  line-height: 40px;
  color: #989898;
}
/* line 75, ../sass/_registryHeader.scss */
#bannerBox span a {
  color: #007dff;
  padding: 0;
}

/* line 82, ../sass/_registryHeader.scss */
#inp {
  width: 500px;
  height: 550px;
  margin: 100px auto 0;
  padding: 30px 270px;
  font-size: 14px;
  color: #333;
  background: #fff;
}
/* line 90, ../sass/_registryHeader.scss */
#inp .inp_tab {
  width: 1050px;
  height: 35px;
  position: relative;
  top: -65px;
  left: -269px;
}
/* line 96, ../sass/_registryHeader.scss */
#inp .inp_tab a {
  width: 160px;
  height: 35px;
  display: inline-block;
  position: relative;
  margin-right: 12px;
  background: #b40707;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}
/* line 108, ../sass/_registryHeader.scss */
#inp .inp_tab a:last-child {
  color: #007dff;
  float: right;
  background: #ccc;
}
/* line 114, ../sass/_registryHeader.scss */
#inp .inp_content {
  width: 420px;
  height: 500px;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
/* line 121, ../sass/_registryHeader.scss */
#inp .inp_content .content_title {
  text-align: center;
  margin: 10px 0 30px;
}
/* line 124, ../sass/_registryHeader.scss */
#inp .inp_content .content_title P:first-child {
  font-size: 24px;
  color: black;
  line-height: 40px;
}
/* line 129, ../sass/_registryHeader.scss */
#inp .inp_content .content_title P:last-child {
  font-size: 16px;
}
/* line 133, ../sass/_registryHeader.scss */
#inp .inp_content .content_password {
  margin-top: 20px;
  background: #f7f7f7;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 21px;
  position: relative;
}
/* line 140, ../sass/_registryHeader.scss */
#inp .inp_content .content_password .password_left {
  text-align: justify;
  text-align-last: justify;
  width: 90px;
  height: 100%;
  border-right: 1px solid #d9d9d9;
  padding: 0 16px;
  line-height: 42px;
  float: left;
}
/* line 150, ../sass/_registryHeader.scss */
#inp .inp_content .content_password .password_right {
  height: 100%;
  overflow: hidden;
  float: left;
}
/* line 154, ../sass/_registryHeader.scss */
#inp .inp_content .content_password .password_right input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 16px;
  background: transparent;
  outline: none;
}
/* line 164, ../sass/_registryHeader.scss */
#inp .inp_content .registry {
  margin-top: 30px;
  text-align: center;
}
/* line 167, ../sass/_registryHeader.scss */
#inp .inp_content .registry .btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #b40707;
  border: 0;
  color: #fff;
  width: 200px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
